@using WebStore.Web.ViewModels.SubCategory;
@model SubCategoryViewModel

@{
    ViewBag.Title = "Edit a Subcategory";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Write your title here...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageURL"></label>
                <input asp-for="ImageURL" class="form-control" placeholder="Put your image URL here...">
                <span asp-validation-for="ImageURL" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var board in Model.Categories)
                    {
                        <option value="@board.Id">@board.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Edit" />
    </form>
</div>